body {
    min-height: 400px;
    border-bottom: 1px dotted #000;
}
body > div.layout {
    min-height: 100px;
    border: 1px dashed #000;
}
.shadow-elem {
    opacity: .5;
}
.layout.container-hovered {
    border: 2px solid blue;
}
/*div#editor-content .droppable.container {
    border: 1px dashed #000;
    min-height: 150px;
}*/
/*div#editor-content div.droppable {
    border: 1px dashed #000;
    min-height: 150px;
}*/
