@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /*min-height: 500px;*/
    /*border-bottom: 1px dotted #000;*/
}
div.layout {
    min-height: 120px !important;
    border: 1px dashed #000;
}
/*body > div.grid.layout > div {
    border: .5px dashed #000;
}*/
div.grid.layout > div.grid-placeholder,
div.flex.layout > div.empty-flex-col {
    border: .5px dotted #000;
}
.half-opacity {
    opacity: .3;
}
/*.layout.container-hovered {
    border: 2px solid blue;
}*/
.layout-selected {
    border: 2px solid green !important;
}
.element-selected {
    border: 2px solid red !important;
}
.element-hovered {
    border: 2px solid blue !important;
}
/*div#editor-content .droppable.container {
    border: 1px dashed #000;
    min-height: 150px;
}*/
/*div#editor-content div.droppable {
    border: 1px dashed #000;
    min-height: 150px;
}*/
