<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Wape</title>
    <meta name="author" content="Thomas Chartron" />
    <meta name="description" content="Webpage application page editor" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="styles/main.css" rel="stylesheet">
    <link href="fontawesome/css/all.min.css" rel="stylesheet">
    <script src="fontawesome/js/all.min.js" crossorigin="anonymous"></script>
    <script src="wape.js"></script>
</head>

<body>

    <div id="editor"></div>

    <script type="text/javascript">
        new wape({
            el: "#editor"
        });
        // var options = {
        //     test: "hello"
        // }
        // var editor = Webedit.init(options);
    </script>
</body>

</html>
